
    <div class="container jumbotron animate bounceOut z-depth-5">
        <div class="row">
            <div class="col-xs-12">
        <h1 class="text-center login-txt"><strong>Register</strong></h1>
        <input type="text"
               class="form-control"
               placeholder="username"/>
        <input type="password"
               class="form-control"
               placeholder="password"/>
        <input type="password"
               class="form-control"
               placeholder="very password"/>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 input-margin">
        <a class="btn btn-primary btn-block"
           href="#/profile">Register</a>
        <a class="btn btn-danger  btn-block"
           href="#/login">Cancel</a>
            </div>
        </div>
    </div>
