
input.form-control {
    margin-bottom: 5px;
}
.btn{
    margin-bottom: 10px;
}
body {
    padding-top: 36px;
    background-color: #b4e3f7;
    background-repeat: no-repeat;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

}

.login-txt{
    font-family: Palatino Linotype;

}

.at-bg-white{
    background: white;
}

.at-center {
    margin: auto;

    margin-bottom: 20px;
    width: 100%;
    padding: 15px;

}

.img-fluid{
    width:100%;
}

.jumbotron{
    background: white;
    padding-top: 5px;
}

.input-margin{
    margin: 20px 20px 20px 0;
}

.at-widget-bg{
    width: 900px;

}

.glyphicon-check{
    float: right;
    display: inline-block;
    position: relative;
    z-index: 1;
    padding: 2em;
    margin: -2em;

}

.profile-margin{
    margin-top: 5px;
    margin-bottom: 50px;
    overflow-scrolling: auto;
}

.list-group{
    margin-top: 25px;
}

a{
    color: black;
}

textarea.md-textarea {
    padding: 0rem;
    min-height: 5rem;
}
.at-widgit-heading{

    margin-bottom: 50px;
    margin-top: 35px;
    padding-left: 15px;
    padding-right: 15px;
    overflow-y: auto;
}
.at-widgit-chooser{

    margin-bottom: 50px;
    margin-top: 35px;
    overflow-y: auto;
}

.web-edit-right-pane{
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    margin-bottom: 52px;
    margin-top: 60px;
    padding-left: 15px;
    padding-right: 15px;
    overflow-y: auto;
}

.web-edit-left-pane{
    margin-top: 25px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    margin-bottom: 50px;
    padding-top: 15px;
    overflow: auto;
    border-right: thin solid lightgrey;
}

textarea.md-textarea{
    overflow-y: inherit;

}
.at-scroll{
    position: absolute;
    top: 0px;
    bottom: 0px;
    right:0px;
    left:0px;
    margin-bottom: 50px;
    margin-top: 50px;
    overflow: auto;
}
.jga-toolbar {
    position: absolute;
    right: 15px;
    background-color: white;
    padding-left: 5px;
    padding-bottom: 5px;
    border-bottom-left-radius: 5px;
    opacity: 0.7;
}
a{
    color: midnightblue ;
}
/*hide scroll bar*/
html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}