input.form-control {
    margin-bottom: 5px;
}

body {
    padding-top: 36px;
    background-color: #b4e3f7;
    background-repeat: no-repeat;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

}
.login-txt{
    font-family: Palatino Linotype;


}
.jumbotron{
    background: white;
    padding-top: 5px;
}
.input-margin{
    margin: 20px 20px 20px 0;

}

