<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">

            <div class="col-xs-12">
                <div class="navbar-text pull-left">
                    <a href="#/user/{{model.userId}}/websites/{{model.websiteId}}/page/{{model.pageId}}/widget"
                       class="navbar-link">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                </div>
                <div class="navbar-text pull-right">
                    <a ng-click="model.updateWidget(model.widget)" class="navbar-link">
                        <span class="glyphicon glyphicon-ok"></span>
                    </a>
                </div>
                <div class="navbar-header">
                    <a class="navbar-brand">
                        Widget Edit
                    </a>

                </div>
            </div>
        </div>
    </div>
</nav>


<div class="container-fluid" >
    <div ng-switch="model.widget.widgetType">
        <div ng-switch-when="HEADER">
            <ng-include src="'views/Widget/template/editor/widget-HEADER.view.client.html'"></ng-include>
        </div>
        <div ng-switch-when="IMAGE">
            <ng-include src="'views/Widget/template/editor/widget-IMAGE.view.client.html'"></ng-include>
        </div>
        <div ng-switch-when="YOUTUBE" class="youtube-widget">
            <ng-include src="'views/Widget/template/editor/widget-YOUTUBE.view.client.html'"></ng-include>
        </div>
        <div ng-switch-when="HTML">
            <ng-include src="'views/Widget/template/editor/widget-HTML.view.client.html'"></ng-include>
        </div>
        <div ng-switch-when="TEXT">
            <ng-include src="'views/Widget/template/editor/widget-TEXT.view.client.html'"></ng-include>
        </div>
    </div>
</div>



<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-10">
            </div>
            <div class="col-xs-2">
                <a href="#/user/profile"><span class="glyphicon glyphicon-user navbar-text pull-right"></span></a>
            </div>
        </div>
    </div>
</nav>
