
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a href="#/user/{{model.userId}}/websites/{{model.websiteId}}/page/{{model.pageId}}/widget" class="navbar-link">
          <span class="glyphicon glyphicon-chevron-left">
          </span>
            </a>
        </div>
        <div class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}/websites/{{model.websiteId}}/page/{{model.pageId}}/widget" class="navbar-link">
          <span class="glyphicon glyphicon-plus">
          </span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                Choose Widget
            </a>

        </div>
    </div>
</nav>
<div class="container-fluid">
    <ul class="list-group at-widgit-chooser">
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-12">
                    <a ng-click="model.createWidget(model.newHeader)">Header</a>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-12">
                    <a href="#"> Label</a>
                </div>

            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-12">
                    <a ng-click="model.createWidget(model.newHTML)">HTML</a>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-12">
                    <a href="#">Text Input</a>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-12">
                    <a href="#">Link</a>
                </div>

            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-12">
                    <a href="#">Button</a>
                </div>

            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-12">
                    <a ng-click='model.createWidget(model.newIMAGE)'>Image</a>
                </div>

            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-12">
                    <a ng-click='model.createWidget(model.newYoutube)'>YouTube</a>
                </div>

            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-12">
                    <a href="#">Data Table</a>
                </div>

            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-12">
                    <a href="#">Repeater</a>
                </div>

            </div>
        </li>
    </ul>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-10">
            </div>
            <div class="col-xs-2">
                <a href="../User/profile.html"><span class="glyphicon glyphicon-user navbar-text pull-right"></span></a>
            </div>
        </div>
    </div>
</nav>
