<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="at-widgit-heading col-md-6 col-sm-12">
            <form action="/api/upload" method="post" enctype="multipart/form-data">
                <label for="widget-name-image"><h4><strong>Name</strong></h4></label>
                    <div class="md-form">
                        <input type="text"
                               id="widget-name-image"
                               placeholder="Widget Name"
                               class="form-control">
                    </div>

                <label for="widget-text-image"><h4><strong>Text</strong></h4></label>
                    <div class="md-form">
                        <input type="text"
                               id="widget-text-image"
                               placeholder="Widget Text"
                               class="form-control">
                    </div>

                <label for="widget-url"> <h4><strong>URL</strong> </h4> </label>

                <div class="md-form">
                <input type="url"
                       ng-model="model.widget.url"
                       value="http://www.lipsum.com"
                       id="widget-url">
                </div>
                <div class="md-form" placeholder="Widget URL" class="form-control"></div>

                <label for="widget-width"><h4><strong>Width</strong></h4></label>

                <div class="md-form">
                    <input type="text"
                           name="width"
                           ng-model="model.widget.width"
                           id="widget-width"
                           placeholder="Widget Width"
                           class="form-control">
                </div>
                <input name="widgetId"
                       value="{{model.widget._id}}" style="display: none"/>
                <input name="websiteId"
                       value="{{model.websiteId}}" style="display: none"/>
                <input name="pageId"
                       value="{{model.widget.pageId}}" style="display: none"/>
                <input name="userId"
                       value="{{model.userId}}" style="display: none"/>
                <label for="file-upload"><h4><strong>Upload from Device</strong></h4></label>
                <div class="md-form">

                <input id="file-upload"
                       name="myFile"
                       type="file"
                       placeholder="Upload your file">
                </div>
                <button type="submit" class="btn btn-primary btn-block">
                    Upload Image
                </button>
                <a ng-click="model.deleteWidget()" class="btn btn-danger btn-block">
                    Delete
                </a>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>


