
<div class="container-fluid">
    <div ng-show="model.error" class="alert alert-danger error-text" role="alert">
        {{model.error}}</div>
       <div class="row">
        <div class="col-md-3"></div>
        <div class="at-widgit-heading col-md-6 col-sm-12">
            <form name="youtubeWidget">
                <label for="widget-name-youtube"><h4><strong>Name</strong></h4></label>
                <div class="md-form">
                    <input type="text" id="widget-name-youtube"  placeholder="Widget Name" class="form-control" required>
                </div>
                <label for="widget-text-youtube"><h4><strong>Text</strong></h4></label>
                <div class="md-form">
                    <input type="text" id="widget-text-youtube"  placeholder="Widget Text" class="form-control">
                </div>
                <label for="widget-url-youtube"><h4><strong>URL</strong></h4></label>
                <div class="md-form">
                    <input type="url" ng-model="model.widget.url" id="widget-url-youtube"  placeholder="URL" class="form-control">
                </div>
                <label for="widget-width-youtube"><h4><strong>Width</strong></h4></label>
                <div class="md-form">
                    <input type="text" id="widget-width-youtube" ng-model="model.widget.width"  placeholder="Widget Width" class="form-control">
                </div>
                <button ng-click="model.updateWidget(model.widget)" class="btn btn-primary btn-block">
                    Create
                </button>
                <a ng-click="model.deleteWidget()" class="btn btn-danger btn-block">
                    Delete
                </a>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
