<div>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 hidden-xs">
                <div class="navbar-text pull-right">
                    <a href="#/user/{{model.userId}}/websites/new" class="navbar-link">
                 <span class="glyphicon glyphicon-plus">
                 </span>
                    </a>
                </div>
                <div class="navbar-header">
                    <a class="navbar-brand">
                        Websites
                    </a>

                </div>
            </div>
            <div class="col-sm-8">
                <div class="navbar-text pull-left visible-xs">
                    <a href="#/user/{{model.userId}}/websites">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                </div>
                <div class="navbar-text pull-right">
                    <a ng-click="model.createWebsite(website)" class="navbar-link">
          <span class="glyphicon glyphicon-ok">
          </span>
                    </a>
                </div>
                <div class="navbar-header">
                    <a class="navbar-brand" >
                        New Website
                    </a>

                </div>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4 hidden-xs web-edit-left-pane">
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">
                            Name
                        </div>
                        <div class="col-xs-2 ">
                            <a href="#/user/{{model.userId}}/websites/new" class="navbar-link pull-right">
                                <span class="glyphicon glyphicon-plus"></span>
                            </a>
                        </div>
                    </div>
                </li>
                <li ng-repeat="website in model.websites" class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">
                            <a href="#/user/{{model.userId}}/websites/{{website._id}}/page">{{website.name}}</a>
                        </div>
                        <div class="col-xs-2">
                            <a href="#/user/{{model.userId}}/websites/{{website._id}}">
                                <span class="glyphicon glyphicon-cog pull-right"></span>
                            </a>
                        </div>
                    </div>
                </li>

            </ul>
        </div>
        <div class="col-sm-8 web-edit-right-pane col-xs-12">

            <div class="alert alert-danger" ng-show="model.nameError">
                {{model.nameError}}
            </div>
            <form name="websiteNewForm" novalidate>
                <label for="website-name"><h4><strong>Website Name</strong></h4></label>
                <div class="md-form">
                    <input  ng-model="website.name"type="text" id="website-name"  placeholder="Website Name" class="form-control" name="websiteName"required>
                    <span ng-if="websiteNewForm.$submitted && websiteNewForm.websiteName.$error.required">Website Name is required</span>
                </div>
                <label for="website-description"><h4><strong>Website Description</strong></h4></label>
                <div class="md-form">
                    <textarea ng-model="website.description"
                              id="website-description"
                              placeholder="Website description"
                              class="md-textarea"></textarea>
                </div>

                <button ng-click="model.createWebsite(website)" class="btn btn-primary btn-block">
                    Create
                </button>
            </form>

        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-10">
            </div>
            <div class="col-xs-2">
                <a href="#/user/{{model.userId}}"><span class="glyphicon glyphicon-user navbar-text pull-right"></span></a>
            </div>
        </div>
    </div>
</nav>
</div>